// 混合样式
$blue = #3190e8;

// 宽高
wh($width, $height)
    width $width
    height $height

// 水平居中
center()
    top 50%
    left: 50%
    position absolute
    transform translate(-50%,-50%)

// 字体大小，颜色
sc($size,$color)
    font-size $size
    color $color

// 垂直居中
ct()
    top 50%
    position absolute
    transform translateY(-50%)
